section{
    background-image: url('../img/gradient_bg_vertical.png');
    background-repeat: repeat-y;
}
article{
    background-image: url('../img/311-200x300.jpeg');
    background-repeat: no-repeat;
    background-position: top right;
}